# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env

# Django
db.sqlite3
/staticfiles/
media/

# Virtualenv
venv/
ENV/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
